{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Notification plugin for Craft CMS 3.x
 *
 * Notification index.twig
 *
 * @author    Fatfish
 * @copyright Copyright (c) 2018 Fatfish
 * @link      https://fatfish.com.au
 * @package   Notification
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{#{% do view.registerAssetBundle("fatfish\\notification\\assetbundles\\notification\\NotificationAsset") %}#}
{% do view.registerAssetBundle("fatfish\\notification\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{#{% set docsUrl = "https://github.com/fatfishdigital/notification/blob/master/README.md" %}#}

{# The title of this CP section #}
{% set title = "Notification" %}

{# The URL to this plugin's base CP section #}
{#{% set pluginCpUrl = url('notification') %}#}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@fatfish/notification/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}#}

{% block sidebar%}
    <nav>
        <ul>
            <li><a href="{{ siteUrl }}admin/notification">Server Notification</a> </li>
            <li><a href="{{ siteUrl }}admin/notification/craft" class="sel">Craft Notification</a></li>
            <li><a href="{{ siteUrl }}admin/notification/settings">Notification Settings</a></li>

        </ul>
    </nav>
{% endblock %}
{% block content %}
    <form method="post" action="{{ siteUrl }}admin/notification/savenotification" accept-charset="UTF-8">
        {{ csrfInput() }}
        {% set id=null %}
        {% set elementname=null %}
        {% set elementtype='Choose Item' %}
        {% set sectionName = '' %}
        {% set elementsection=null %}
        {% set entries=null %}
        {% set create=false %}
        {% set update=false %}
        {% set delete=false %}
        {% set response=false %}
        {% set section_type=null %}
        {%
        set ElementType= {
                1:'Entries',
                2:'Assets',
                3:'Category',
                4:'User'
        }
        %}

        {% if allnotifications is defined and allnotifications | length > (0) %}
                    {% for notification in allnotifications %}

                        {% set id = notification.id %}
                        {% set elementname = notification.Notification_name %}
                        {% set elementtype = notification.Notification_type %}
                        {% set elementsection = notification.Notification_section %}
                        {% set sectionName = notification.Notification_section_list %}
                        {% set create = notification.Notification_create %}
                        {% set update = notification.Notification_update %}
                        {% set delete = notification.Notification_delete %}
                        {% set response= notification.Notification_exception %}

                      {% endfor %}
        {% endif %}
        <input type="text" id="id" name="id" value="{{ id }}" hidden>

        {{ forms.textField({
            id:'element_name',
            name:'element_name',
            label : 'Name',
            value : elementname,
            instructions:'Give your Element Notification name eg. Entries Notification',
            required :true
        })

        }}

        <div class="field" id="ElementType">
            <div class="heading">
        <label for="element_type" class="required">Element Type </label> <br>
                <div class="instructions">Choose Element Type eg. Entries,Assets,Category,GlobalSet,MatrixBlock,Tag,User</div>
        {{ forms.select({
            id:'element_type',
            name: 'element_type',
            label: 'Element Type',
            options : ['Choose Item','Entries','Assets','Category','User'],
            value : elementtype,
            instructions: 'Choose Element Type eg. Entries,Assets,Category,User',
            required : true,
        }) }}
            </div>
        </div>

        <div class="field" id="sectionType" style="{% if elementsection is null %}display:none;{% else %}display:block{% endif %}">
            <div class="heading">
                <label for="element_type" class="required">Section Type </label> <br>
                <div class="instructions">Choose Section Type eg. Structure,Chanel</div>
                {{ forms.select({
                    id:'section_type',
                    name: 'section_type',
                    label: 'Section Type',
                    options : ['choose section Type','Channel','Structure','Single'],
                    value :elementsection,
                    required:true
                    }) }}
            </div>
        </div>

        <div class="field" id="EntriesList" style="{% if section_type is defined %}display: block {% else %} display:none{% endif %}">
            <div class="heading">
                <label for="element_type" class="required">Entries </label> <br>
                <div class="instructions">Choose Section Type eg. Structure,Chanel</div>
                {{ forms.select({
                    id:'entries',
                    name: 'entries',
                    label: 'Entries',
                    options : section_type,
                    value:sectionName,
                    required: true,

                }) }}
            </div>
        </div>


        <div class="field">
            <div class="heading">
                <label for="" class="required">Select Events To Notify</label>
                <div class="instructions">Notify On Create </div>
                <div class="events">
                <div class="row">
                    {{ forms.lightswitch(
                        {
                            id:'element_create',
                            name:'Create',
                            on: create



                        }
                    ) }}
                </div>

                </div>
            </div>

            <div class="heading">

                <div class="instructions">Notify On Update </div>
                <div class="events">
                    <div class="row">
                        {{ forms.lightswitch(
                            {
                                id:'element_update',
                                name:'update',
                                on: update,


                            }
                        ) }}
                    </div>

                </div>
            </div>

            <div class="heading">

                <div class="instructions">Notify On Delete </div>
                <div class="events">
                    <div class="row">
                        {{ forms.lightswitch(
                            {
                                id:'element_delete',
                                name:'Delete',
                                on: delete,


                            }
                        ) }}
                    </div>

                </div>
            </div>

            <div class="heading">
                           <div class="instructions">Notify On Errors (such as 404 and 302)  </div>
                <div class="events">
                    <div class="row">
                        {{ forms.lightswitch(
                            {
                                id:'element_response',
                                name:'RequestResponse',
                                on:response,
                            }
                        ) }}
                    </div>

                </div>
            </div>
        </div>


        <button type="submit" value="submit" class="btn btn-success">Save</button>
    </form>
    <br>
<div class="tableview">
    <table class="data fullwidth">

<thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>EntryName</th>
<th>Notify on Create Event</th>
<th>Notify on Update Event</th>
<th>Notify on Delete Event</th>
<th>Notify on 404/302 Event</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
{% if notifications is defined and notifications | length > (0) %}

{% for notification in notifications %}

    <tr>
        <td>{{ notification.Notification_name }}</td>
        <td>{{ ElementType[notification.Notification_type] }}</td>
        <td>{{notification.Notification_section_list }}</td>
        <td>{% if notification.Notification_create==(1) %} Yes {% else %} No {% endif %}</td>
        <td>{% if notification.Notification_update==(1) %} Yes {% else %} No {% endif %}</td>
        <td>{% if notification.Notification_delete==(1) %} Yes {% else %} No {% endif %}</td>
        <td>{% if notification.Notification_exception==(1) %} Yes {% else %} No {% endif %}</td>
        <td><a href="/admin/notification/craftedit/{{ notification.id }}">Edit</a> <a href="/admin/notification/deletenotification/{{ notification.id }}">Delete</a> </td>

    </tr>
{% endfor %}
{% endif %}
</tbody>


    </table>
</div>
{% endblock %}







{% js %}

    $(document).ready(function(){
    var selectedEntryType;
    var SectionId=1;
    $('#element_type').on('change',function() {

             selectedEntryType = parseInt($('#element_type').val());

             if(selectedEntryType==1)
                {

                    $('#sectionType').css('display','block');
                    $('#EntriesList').css('display','block');

                    if(SectionId==0)
                       {

                        }


                }
    else
    {
    $('#sectionType').css('display','none');
    $('#EntriesList').css('display','none');
    }


    });
    $('#section_type').on('change',function(){

        var SectionName='channel';
        SectionId = $('#section_type').val();

        if(parseInt(SectionId)===1)
        {
                SectionName='channel';
        }
        else if(parseInt(SectionId)===2)
        {
          SectionName='structure';
        }
    else{
    }


    Craft.postActionRequest('/notification/section',{sectionHandel:SectionName},function(response){
            $('#entries').html("");
       $.each(response,function(key,value)
             {
                  $('#entries').append($("<option></option>")
                    .attr("value",value)
                    .text(value));
            });
    });

    });



    });

{% endjs %}
